# Cleaning_any_asylum.ipynb
#### This script cleans and merges relevant variables across datasets
#### considers a grant on any asylum case type (full, witholding, wcat) a "grant" decision on the case. 
#### Currently, it is doing cleaning and merging only for the baseline model.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('precision', 5)

In [2]:
path = '/data/Dropbox/Data/Asylum_Courts/raw'

## Clean court_appln.csv

relevant variables: idnProceeding, idnCase, Appl_Code

In [3]:
app = pd.read_csv(path + '/court_appln.csv', low_memory=False)

# descriptive stats
#app.count()
#app.describe()

In [4]:
# adding placeholder number to count how many applications were filed for idnProceeding
app['numAppsPerProc'] = 1
app['numAppsPerProc'] = app['numAppsPerProc'].astype('int64')

# adding additional feature based on how many applications have been filed for the same (idnCase, idnProceeding) pair
app['numAppsPerProc'] = app.groupby(['idnCase', 'idnProceeding'])['numAppsPerProc'].transform('count')

# dropping all applications with empty decisions
app = app.dropna(subset=['Appl_Dec'])

#app.describe()
app.count()

idnProceedingAppln    4232861
idnProceeding         4232861
idnCase               4232857
Appl_Code             4232859
Appl_Recd_Date        4232826
Appl_Dec              4232861
numAppsPerProc        4232857
dtype: int64

In [5]:
# making a new variable, dec, simplifying grant decisions to DENY, GRANT, or nan
app['dec']= np.nan
app.loc[app.Appl_Dec.isin(['G','F','N','L','C']),'dec']= 'GRANT'
app.loc[(app["Appl_Dec"] == 'D'),'dec'] = 'DENY'
app = app[app.dec.isin(['DENY','GRANT'])] # only include DENY or GRANT cases

app.count()

idnProceedingAppln    2374977
idnProceeding         2374977
idnCase               2374977
Appl_Code             2374976
Appl_Recd_Date        2374951
Appl_Dec              2374977
numAppsPerProc        2374977
dec                   2374977
dtype: int64

In [6]:
# only keep applications of type ASYL, ASYW, WCAT. sort by Grant, then deny, then case type in order (ASYL, ASYW, WCAT)
#, then date within idnproceeding
#sorting by date--if there are multiple applications with the same decision with the same case type, 
#take the most recent one.
app = app[app.Appl_Code.isin(['ASYL','ASYW', 'WCAT'])]

#sort multiple times because some need to be ascending and some descending
app = app.sort_values(['idnProceeding','dec','Appl_Code','Appl_Recd_Date'],ascending=[True,False,True,False])

In [7]:
app = app.rename(columns={"idnCase":"idncase", "idnProceeding":"idnproceeding"})

In [8]:
app.head(10)

,idnProceedingAppln,idnproceeding,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec
40,41,75.0,3328085.0,ASYL,1994-12-20 00:00:00,D,3.0,DENY
836171,837950,75.0,3328085.0,ASYW,1994-12-20 00:00:00,D,3.0,DENY
42,43,85.0,3328111.0,ASYL,1995-04-02 00:00:00,D,3.0,DENY
836173,837952,85.0,3328111.0,ASYW,1995-04-02 00:00:00,D,3.0,DENY
48,49,103.0,3328153.0,ASYL,1995-05-05 00:00:00,G,2.0,GRANT
51,52,111.0,3328175.0,ASYL,1995-03-31 00:00:00,D,3.0,DENY
55,56,136.0,3327844.0,ASYL,1995-03-06 00:00:00,D,3.0,DENY
836186,837965,136.0,3327844.0,ASYW,1995-03-06 00:00:00,D,3.0,DENY
57,58,139.0,3327852.0,ASYL,1996-05-14 00:00:00,G,2.0,GRANT
836188,837967,139.0,3327852.0,ASYW,1996-05-14 00:00:00,G,2.0,GRANT

In [9]:
# make unique--take the first application for each proceeding, when sorted in order dec (grant deny),
#case type(ASYL, ASYW, WCAT), date
app2 = app.groupby('idnproceeding', as_index=False).first()

In [10]:
app2.count()

idnproceeding         614388
idnProceedingAppln    614388
idncase               614388
Appl_Code             614388
Appl_Recd_Date        614387
Appl_Dec              614388
numAppsPerProc        614388
dec                   614388
dtype: int64

In [11]:
app2.head(10)

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec
0,75.0,41,3328085.0,ASYL,1994-12-20 00:00:00,D,3.0,DENY
1,85.0,43,3328111.0,ASYL,1995-04-02 00:00:00,D,3.0,DENY
2,103.0,49,3328153.0,ASYL,1995-05-05 00:00:00,G,2.0,GRANT
3,111.0,52,3328175.0,ASYL,1995-03-31 00:00:00,D,3.0,DENY
4,136.0,56,3327844.0,ASYL,1995-03-06 00:00:00,D,3.0,DENY
5,139.0,58,3327852.0,ASYL,1996-05-14 00:00:00,G,2.0,GRANT
6,145.0,60,3327869.0,ASYL,1995-11-29 00:00:00,D,3.0,DENY
7,147.0,61,3327877.0,ASYL,1995-11-29 00:00:00,D,3.0,DENY
8,149.0,62,3327884.0,ASYL,1995-04-14 00:00:00,D,3.0,DENY
9,159.0,63,3327927.0,ASYL,1995-07-25 00:00:00,D,3.0,DENY

## Clean master.csv

Relevant variables: idncase, idnproceeding, osc_date, tracid, nat

In [12]:
# load in data
master = pd.read_csv(path + '/master.csv', low_memory=False)
#master.describe() # summary stats

In [13]:
#drop empty cases and proceedings
master = master.dropna(subset= ['idncase','idnproceeding'])
#master.describe()

In [14]:
# stuff on osc_date (date charges filed or NTA)
master = master.dropna(subset=['osc_date']) # dropping empty dates

master['osc_date'] = master['osc_date'].astype('str')
master = master[master['osc_date'].apply(lambda x: len(x) == 9)] # delete dates invalid formats

master['osc_date'] = pd.to_datetime(master['osc_date'], format='%d%b%Y') # change to date format 
#master.describe()

# delete NTA dates before 1984
master = master[master.osc_date.dt.year>1983]

In [15]:
#comp date (date proceeding completed)
master = master.dropna(subset=['comp_date']) # dropping empty dates

master['comp_date'] = master['comp_date'].astype('str')
master = master[master['comp_date'].apply(lambda x: len(x) == 9)] # delete dates invalid formats

master['comp_date'] = pd.to_datetime(master['comp_date'], format='%d%b%Y') # change to date format 

#drop comp date dates before 1985
master = master[master.comp_date.dt.year>1984]

In [16]:
master.head(10)

,idncase,nat,case_type,c_asy_type,idnproceeding,base_city_code,hearing_loc_code,dec_type,dec_code,other_comp,osc_date,input_date,comp_date,attorney_flag,ij_code,tracid
11,2046920.0,MX,RMV,NaN,3200048,CHI,CHD,O,X,NaN,2004-08-06,11AUG2004,2004-08-11,NaN,RDV,31.0
12,2046921.0,MX,RMV,NaN,3200049,CHI,CHD,O,X,NaN,2004-08-06,10AUG2004,2004-08-11,NaN,RDV,31.0
13,2046922.0,MX,RMV,NaN,3200050,CHI,CHD,O,X,NaN,2004-08-09,19AUG2004,2004-08-19,NaN,JLG,29.0
14,2046923.0,PL,RMV,NaN,3200051,CHI,CHD,O,X,NaN,2004-08-09,13AUG2004,2004-08-25,1.0,CC,27.0
15,2046923.0,PL,RMV,NaN,3525150,CHI,CHD,NaN,NaN,T,2004-08-09,30MAR2005,2005-04-13,1.0,GPK,30.0
16,2046923.0,PL,RMV,NaN,3538044,CHI,CHI,O,R,NaN,2004-08-09,13APR2005,2007-06-04,1.0,CC,27.0
17,2046924.0,MX,RMV,NaN,3200052,CHI,CHD,O,X,NaN,2004-08-09,13AUG2004,2004-08-13,NaN,RDV,31.0
18,2046925.0,MX,RMV,NaN,3200053,CHI,CHD,O,X,NaN,2004-08-10,19AUG2004,2004-08-19,NaN,JLG,29.0
19,2046926.0,MX,RMV,NaN,3200054,CHI,CHD,O,X,NaN,2004-08-10,16AUG2004,2004-08-30,NaN,CMZ,32.0
20,2046927.0,MX,RMV,NaN,3200055,CHI,CHD,O,X,NaN,2004-08-12,19AUG2004,2004-08-19,NaN,JLG,29.0

In [17]:
# delete duplicates (since idnproceeding are unique, this shouldn't do anything)
master = master.drop_duplicates(subset=['idncase', 'idnproceeding'])

In [18]:
# define master2, which only has variables of interest
master2 = master[['idncase','idnproceeding', 'osc_date', 'comp_date','tracid', 'nat']]

In [19]:
master2.head(10)

      idncase idnproceeding   osc_date  comp_date  tracid nat
11  2046920.0       3200048 2004-08-06 2004-08-11    31.0  MX
12  2046921.0       3200049 2004-08-06 2004-08-11    31.0  MX
13  2046922.0       3200050 2004-08-09 2004-08-19    29.0  MX
14  2046923.0       3200051 2004-08-09 2004-08-25    27.0  PL
15  2046923.0       3525150 2004-08-09 2005-04-13    30.0  PL
16  2046923.0       3538044 2004-08-09 2007-06-04    27.0  PL
17  2046924.0       3200052 2004-08-09 2004-08-13    31.0  MX
18  2046925.0       3200053 2004-08-10 2004-08-19    29.0  MX
19  2046926.0       3200054 2004-08-10 2004-08-30    32.0  MX
20  2046927.0       3200055 2004-08-12 2004-08-19    29.0  MX

In [20]:
master2.count()

idncase          5669748
idnproceeding    5669748
osc_date         5669748
comp_date        5669748
tracid           5360370
nat              5667915
dtype: int64

In [21]:
master2['idnproceeding'] = master2['idnproceeding'].astype('float64')

/usr/local/anaconda/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Merge datasets

In [22]:
merged = pd.merge(app2, master2, on=['idnproceeding','idncase'])

In [23]:
merged.count()

idnproceeding         608560
idnProceedingAppln    608560
idncase               608560
Appl_Code             608560
Appl_Recd_Date        608559
Appl_Dec              608560
numAppsPerProc        608560
dec                   608560
osc_date              608560
comp_date             608560
tracid                594055
nat                   608403
dtype: int64

In [24]:
merged.head(10)

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec,osc_date,comp_date,tracid,nat
0,75.0,41,3328085.0,ASYL,1994-12-20 00:00:00,D,3.0,DENY,1994-11-03,1995-03-10,NaN,HO
1,85.0,43,3328111.0,ASYL,1995-04-02 00:00:00,D,3.0,DENY,1994-11-04,1997-06-16,71.0,HO
2,103.0,49,3328153.0,ASYL,1995-05-05 00:00:00,G,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT
3,111.0,52,3328175.0,ASYL,1995-03-31 00:00:00,D,3.0,DENY,1994-11-05,1995-08-15,70.0,ES
4,136.0,56,3327844.0,ASYL,1995-03-06 00:00:00,D,3.0,DENY,1995-02-06,1995-04-06,50.0,HO
5,139.0,58,3327852.0,ASYL,1996-05-14 00:00:00,G,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU
6,145.0,60,3327869.0,ASYL,1995-11-29 00:00:00,D,3.0,DENY,1995-02-10,1996-01-04,71.0,NU
7,147.0,61,3327877.0,ASYL,1995-11-29 00:00:00,D,3.0,DENY,1995-02-10,1996-01-04,71.0,NU
8,149.0,62,3327884.0,ASYL,1995-04-14 00:00:00,D,3.0,DENY,1995-02-12,1995-06-23,61.0,NU
9,159.0,63,3327927.0,ASYL,1995-07-25 00:00:00,D,3.0,DENY,1995-02-17,1995-09-05,70.0,NU

In [25]:
#drop nan tracids and nat
merged = merged.dropna(subset=['tracid','nat'])
merged.count()

idnproceeding         593907
idnProceedingAppln    593907
idncase               593907
Appl_Code             593907
Appl_Recd_Date        593906
Appl_Dec              593907
numAppsPerProc        593907
dec                   593907
osc_date              593907
comp_date             593907
tracid                593907
nat                   593907
dtype: int64

In [26]:
 merged.groupby('tracid').count()

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec,osc_date,comp_date,nat
tracid,,,,,,,,,,,
1.0,4776,4776,4776,4776,4776,4776,4776,4776,4776,4776,4776
2.0,1244,1244,1244,1244,1244,1244,1244,1244,1244,1244,1244
3.0,4193,4193,4193,4193,4193,4193,4193,4193,4193,4193,4193
4.0,5731,5731,5731,5731,5731,5731,5731,5731,5731,5731,5731
5.0,878,878,878,878,878,878,878,878,878,878,878
6.0,624,624,624,624,624,624,624,624,624,624,624
7.0,5137,5137,5137,5137,5137,5137,5137,5137,5137,5137,5137
8.0,3503,3503,3503,3503,3503,3503,3503,3503,3503,3503,3503
9.0,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312
10.0,5595,5595,5595,5595,5595,5595,5595,5595,5595,5595,5595
11.0,1023,1023,1023,1023,1023,1023,1023,1023,1023,1023,1023
12.0,538,538,538,538,538,538,538,538,538,538,538
13.0,1875,1875,1875,1875,1875,1875,1875,1875,1875,1875,1875
14.0,1598,1598,1598,1598,1598,1598,1598,1598,1598,1598,1598
15.0,806,806,806,806,806,806,806,806,806,806,806
16.0,848,848,848,848,848,848,848,848,848,848,848
17.0,1397,1397,1397,1397,1397,1397,1397,1397,1397,1397,1397
18.0,2631,2631,2631,2631,2631,2631,2631,2631,2631,2631,2631
19.0,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328
20.0,1444,1444,1444,1444,1444,1444,1444,1444,1444,1444,1444
21.0,1243,1243,1243,1243,1243,1243,1243,1243,1243,1243,1243
22.0,413,413,413,413,413,413,413,413,413,413,413
23.0,2087,2087,2087,2087,2087,2087,2087,2087,2087,2087,2087
24.0,524,524,524,524,524,524,524,524,524,524,524
25.0,342,342,342,342,342,342,342,342,342,342,342
26.0,2247,2247,2247,2247,2247,2247,2247,2247,2247,2247,2247
27.0,2164,2164,2164,2164,2164,2164,2164,2164,2164,2164,2164
28.0,2874,2874,2874,2874,2874,2874,2874,2874,2874,2874,2874
29.0,977,977,977,977,977,977,977,977,977,977,977
30.0,131,131,131,131,131,131,131,131,131,131,131
...,...,...,...,...,...,...,...,...,...,...,...
373.0,251,251,251,251,251,251,251,251,251,251,251
374.0,256,256,256,256,256,256,256,256,256,256,256
375.0,296,296,296,296,296,296,296,296,296,296,296
376.0,176,176,176,176,176,176,176,176,176,176,176
377.0,220,220,220,220,220,220,220,220,220,220,220
378.0,329,329,329,329,329,329,329,329,329,329,329
380.0,268,268,268,268,268,268,268,268,268,268,268
381.0,82,82,82,82,82,82,82,82,82,82,82
382.0,393,393,393,393,393,393,393,393,393,393,393
383.0,247,247,247,247,247,247,247,247,247,247,247
384.0,151,151,151,151,151,151,151,151,151,151,151
385.0,62,62,62,62,62,62,62,62,62,62,62
386.0,140,140,140,140,140,140,140,140,140,140,140
387.0,89,89,89,89,89,89,89,89,89,89,89
388.0,157,157,157,157,157,157,157,157,157,157,157
389.0,188,188,188,188,188,188,188,188,188,188,188
390.0,112,112,112,112,112,112,112,112,112,112,112
391.0,42,42,42,42,42,42,42,42,42,42,42
392.0,225,225,225,225,225,225,225,225,225,225,225
393.0,75,75,75,75,75,75,75,75,75,75,75
394.0,195,195,195,195,195,195,195,195,195,195,195
395.0,224,224,224,224,224,224,224,224,224,224,224
396.0,557,557,557,557,557,557,557,557,557,557,557
397.0,10,10,10,10,10,10,10,10,10,10,10
398.0,175,175,175,175,175,175,175,175,175,175,175
399.0,151,151,151,151,151,151,151,151,151,151,151
400.0,112,112,112,112,112,112,112,112,112,112,112
401.0,115,115,115,115,115,115,115,115,115,115,115
402.0,124,124,124,124,124,124,124,124,124,124,124
403.0,6,6,6,6,6,6,6,6,6,6,6

In [27]:
#drop all cases where judge has fewer than 100 cases--same as in gambler's fallacy paper
tracid_100 = merged.groupby('tracid').idnproceeding.count()>=100 #bool indicating whether judge has at least 100 cases
tracid_100 = tracid_100.index.values[tracid_100]#indices of judges with at least 100 cases
merged2 = merged.loc[merged.tracid.isin(tracid_100)]
merged2.count()

idnproceeding         592964
idnProceedingAppln    592964
idncase               592964
Appl_Code             592964
Appl_Recd_Date        592963
Appl_Dec              592964
numAppsPerProc        592964
dec                   592964
osc_date              592964
comp_date             592964
tracid                592964
nat                   592964
dtype: int64

In [28]:
#there are 6377 osc dates before 1985, but I thought 1985 was supposed to be earliest year. 
merged2[merged2.osc_date.dt.year<1985]
#when osc year is pre 1985, it is often many years before the appl_recd_date. some may be error, but some may 
#actually have occurred well before the court date?

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec,osc_date,comp_date,tracid,nat
12876,91492.0,27740,2048164.0,ASYL,1985-03-04 00:00:00,D,5.0,DENY,1984-03-13,1987-10-29,10.0,??
12908,93370.0,28338,2049203.0,ASYL,1988-03-31 00:00:00,D,3.0,DENY,1984-03-21,1988-12-01,202.0,ES
12916,94058.0,28353,2049102.0,ASYL,1988-08-01 00:00:00,D,2.0,DENY,1984-03-14,1988-09-28,166.0,CU
13052,99651.0,27838,2051255.0,ASYL,1990-03-23 00:00:00,D,3.0,DENY,1984-07-17,1990-09-28,197.0,PK
13098,101817.0,27781,2052487.0,ASYL,1986-05-21 00:00:00,D,2.0,DENY,1984-01-09,1986-08-29,251.0,CU
13186,106971.0,27974,2055405.0,ASYL,1990-05-15 00:00:00,D,2.0,DENY,1984-05-14,1991-01-10,251.0,CU
13191,107019.0,27986,2055618.0,ASYL,1988-10-25 00:00:00,D,4.0,DENY,1984-04-10,1989-06-27,1.0,CU
13192,107020.0,27987,2055618.0,ASYL,1985-02-28 00:00:00,D,4.0,DENY,1984-04-10,1987-05-28,1.0,CU
13265,110572.0,28123,2057635.0,ASYL,1988-12-13 00:00:00,D,4.0,DENY,1984-09-04,1989-05-03,226.0,KE
13266,110573.0,28124,2057635.0,ASYL,1986-04-10 00:00:00,D,4.0,DENY,1984-09-04,1986-10-02,226.0,KE
13489,121403.0,32707,2063885.0,ASYL,1985-02-14 00:00:00,D,3.0,DENY,1984-07-11,1986-08-11,223.0,LE
13494,121483.0,32720,2064389.0,ASYL,1985-01-22 00:00:00,D,2.0,DENY,1984-04-20,1986-08-06,129.0,HA
13495,121488.0,32721,2064430.0,ASYL,1985-07-02 00:00:00,D,2.0,DENY,1984-11-14,1987-07-16,251.0,HA
13538,122044.0,32814,2064693.0,ASYL,1985-10-18 00:00:00,G,3.0,GRANT,1984-06-28,1987-04-16,39.0,NU
13562,122303.0,32829,2063915.0,ASYL,1987-04-30 00:00:00,D,3.0,DENY,1984-06-11,1987-05-20,7.0,IN
13640,123219.0,28621,2064719.0,ASYL,1984-05-24 00:00:00,D,2.0,DENY,1984-05-08,1986-10-28,309.0,CH
13642,123221.0,28623,2064735.0,ASYL,1984-10-12 00:00:00,D,3.0,DENY,1984-07-25,1986-06-27,305.0,IN
13659,123665.0,28664,2065875.0,ASYL,1984-08-06 00:00:00,D,3.0,DENY,1984-05-23,1985-01-21,153.0,CH
13763,124451.0,30045,2065754.0,ASYL,1987-04-27 00:00:00,D,3.0,DENY,1984-03-03,1987-10-29,329.0,IN
13953,126078.0,30796,2066650.0,ASYL,1986-07-15 00:00:00,D,2.0,DENY,1984-10-20,1986-10-09,251.0,NU
13976,126634.0,30915,2067041.0,ASYL,1985-01-19 00:00:00,D,3.0,DENY,1984-11-22,1985-12-10,91.0,ES
13977,126635.0,30917,2067049.0,ASYL,1985-01-19 00:00:00,D,3.0,DENY,1984-11-22,1985-12-10,91.0,ES
13978,126636.0,30919,2067057.0,ASYL,1985-01-19 00:00:00,D,2.0,DENY,1984-11-22,1985-12-10,209.0,ES
14145,130325.0,34655,2068958.0,ASYL,1986-12-22 00:00:00,D,3.0,DENY,1984-08-10,1988-03-21,250.0,CU
14223,132578.0,34955,2070706.0,ASYL,1985-02-26 00:00:00,D,2.0,DENY,1984-05-09,1985-08-09,1.0,CU
14231,132852.0,34980,2070666.0,ASYL,1986-09-17 00:00:00,G,2.0,GRANT,1984-07-19,1987-05-19,1.0,NU
14252,134598.0,28586,2071200.0,ASYL,1985-10-16 00:00:00,D,2.0,DENY,1984-02-10,1986-04-16,251.0,CU
14275,136304.0,29454,2073184.0,ASYL,1985-12-21 00:00:00,G,3.0,GRANT,1984-07-09,1986-10-20,226.0,IR
14391,139971.0,30711,2074556.0,ASYL,1985-02-15 00:00:00,D,3.0,DENY,1984-08-02,1986-05-28,202.0,ES
14691,145064.0,31663,2077550.0,ASYL,1984-04-20 00:00:00,D,3.0,DENY,1984-03-16,1985-07-10,332.0,AR
...,...,...,...,...,...,...,...,...,...,...,...,...
85790,945697.0,186062,2696258.0,ASYL,1986-02-27 00:00:00,D,4.0,DENY,1984-05-16,1987-08-19,202.0,ES
85874,951632.0,186492,2699907.0,ASYL,2004-09-03 00:00:00,D,5.0,DENY,1984-06-20,2004-09-03,16.0,LE
85875,951633.0,186493,2699907.0,ASYL,1988-08-22 00:00:00,D,4.0,DENY,1984-06-20,1988-10-04,226.0,LE
85979,957350.0,186292,2704162.0,ASYL,1984-12-04 00:00:00,D,6.0,DENY,1984-10-17,1985-03-25,332.0,JO
86144,968888.0,186261,2712255.0,ASYL,1984-04-04 00:00:00,D,3.0,DENY,1984-02-06,1985-04-05,228.0,DR
86224,977354.0,186614,2717981.0,ASYL,1989-10-31 00:00:00,D,3.0,DENY,1984-06-27,1990-03-13,224.0,ES
86233,977679.0,186642,2718084.0,ASYL,1985-02-07 00:00:00,D,2.0,DENY,1984-03-22,1985-06-20,333.0,CI
86297,985849.0,186747,2723968.0,ASYL,1985-11-25 00:00:00,D,4.0,DENY,1984-11-09,1986-04-23,10.0,CH
86406,991910.0,187271,2728177.0,ASYL,1989-05-31 00:00:00,D,3.0,DENY,1984-07-20,1989-08-15,153.0,HA
86540,998012.0,188402,2732315.0,ASYL,1985-05-17 00:00:00,D,2.0,DENY,1984-09-12,1987-10-05,10.0,DR
86623,1004735.0,187895,2737159.0,ASYL,1985-12-06 00:00:00,D,3.0,DENY,1984-10-29,1986-02-24,39.0,MX
86847,1015111.0,186973,2744536.0,ASYL,1985-05-13 00:00:00,D,3.0,DENY,1984-09-19,1985-08-09,223.0,ES
89393,1115187.0,191150,2822461.0,ASYL,1986-04-21 00:00:00,D,3.0,DENY,1984-11-06,1987-01-30,226.0,PA
349542,2848186.0,1535300,4306949.0,ASYW,2003-04-24 00:00:00,D,3.0,DENY,1984-11-11,2003-11-21,205.0,IN
349588,2851825.0,1533706,4308935.0,ASYW,2000-04-27 00:00:00,D,2.0,DENY,1984-03-20,2000-11-03,13.0,LI
350265,2910288.0,713975,4355497.0,ASYL,1998-03-02 00:00:00,G,2.0,GRANT,1984-07-06,1998-07-10,180.0,LY
350503,2936926.0,715405,4376262.0,ASYL,1997-08-22 00:00:00,D,2.0,DENY,1984-05-31,1997-09-26,260.0,MX
350585,2948223.0,715602,4385389.0,ASYL,1985-03-14 00:00:00,D,3.0,DENY,1984-11-08,1985-09-09,199.0,ES
473038,3930868.0,3332799,5501521.0,ASYL,2007-04-24 00:00:00,D,5.0,DENY,1984-01-19,2008-03-10,178.0,ES
479180,3994484.0,3168130,5563722.0,ASYL,1984-07-06 00:00:00,D,2.0,DENY,1984-05-08,1985-01-22,177.0,ES
479690,3999053.0,3251416,5521032.0,ASYL,2006-12-04 00:00:00,D,4.0,DENY,1984-08-29,2008-02-28,84.0,ES
495288,4152767.0,3292414,5688415.0,ASYL,1986-11-28 00:00:00,D,3.0,DENY,1984-05-06,1987-06-09,99.0,ES
496752,4166765.0,3336630,2245738.0,ASYL,2007-03-06 00:00:00,D,3.0,DENY,1984-03-16,2007-05-01,198.0,ES
531126,4542605.0,3549535,5997080.0,ASYL,1984-10-16 00:00:00,D,1.0,DENY,1984-05-23,1985-07-09,177.0,ES
533156,4568799.0,3652668,5960788.0,ASYL,2008-12-03 00:00:00,D,4.0,DENY,1984-11-30,2009-06-25,113.0,GT
558239,4921813.0,3797435,6297478.0,ASYL,1985-02-20 00:00:00,D,2.0,DENY,1984-11-22,1985-06-10,91.0,GT
562022,4980032.0,3833028,6344890.0,ASYL,1985-07-30 00:00:00,D,1.0,DENY,1984-02-09,1985-07-30,176.0,CU
564816,5022772.0,3859983,6378907.0,ASYL,1985-07-22 00:00:00,D,1.0,DENY,1984-12-02,1986-04-17,91.0,ES
573735,5170360.0,3949792,6494318.0,ASYL,1985-01-03 00:00:00,D,2.0,DENY,1984-11-30,1985-06-07,203.0,NU
602331,5806137.0,4391419,6962620.0,ASYL,1984-07-26 00:00:00,D,1.0,DENY,1984-06-22,1985-01-11,153.0,HO

In [29]:
#look at comp date--626 dates before 1985. drop these.
len(merged2[merged2.comp_date.dt.year<1985])
merged2 = merged2[merged2.comp_date.dt.year>1984]
merged2.count()

idnproceeding         592964
idnProceedingAppln    592964
idncase               592964
Appl_Code             592964
Appl_Recd_Date        592963
Appl_Dec              592964
numAppsPerProc        592964
dec                   592964
osc_date              592964
comp_date             592964
tracid                592964
nat                   592964
dtype: int64

In [30]:
merged2.groupby('dec').count()

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,osc_date,comp_date,tracid,nat
dec,,,,,,,,,,,
DENY,362450,362450,362450,362450,362450,362450,362450,362450,362450,362450,362450
GRANT,230514,230514,230514,230514,230513,230514,230514,230514,230514,230514,230514

In [31]:
# adding additional feature based on how many asylum proceedings have been filed for the same (idnCase) 
merged2['numProcPerCase'] = 1
merged2['numProcPerCase'] = merged2['numProcPerCase'].astype('int64')
merged2['numProcPerCase'] = merged2.groupby(['idncase'])['numProcPerCase'].transform('count')

#make unique at idncase level, sorting with the same logic as used to sort applications
#counting case as a grant if ANY proceeding was grant
merged_case = merged2.sort_values(['idncase','dec','Appl_Code','Appl_Recd_Date'],ascending=[True,False,True,False])
merged_case = merged_case.groupby('idncase',as_index=False ).first()

In [32]:
merged_case.groupby('dec').count()

,idncase,idnproceeding,idnProceedingAppln,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,osc_date,comp_date,tracid,nat,numProcPerCase
dec,,,,,,,,,,,,
DENY,338928,338928,338928,338928,338928,338928,338928,338928,338928,338928,338928,338928
GRANT,226084,226084,226084,226084,226083,226084,226084,226084,226084,226084,226084,226084

In [33]:
unique_nat = merged_case.nat.unique()
unique_nat

array(['CH', 'CM', 'AL', 'ET', 'CF', 'LE', 'GT', 'HO', 'IN', 'UE', 'CU',
       'LV', 'ES', 'UZ', 'LH', 'MX', 'AU', 'PO', '??', 'JM', 'RU', 'CO',
       'UK', 'RO', 'HU', 'IR', 'TS', 'ID', 'SY', 'YO', 'EC', 'PK', 'CZ',
       'NU', 'DR', 'JA', 'PE', 'BU', 'VE', 'GE', 'MO', 'LI', 'HK', 'TW',
       'HA', 'CS', 'NI', 'AR', 'RP', 'IZ', 'PL', 'YS', 'KE', 'BH', 'JO',
       'AG', 'ST', 'PM', 'EG', 'GR', 'BN', 'TU', 'AZ', 'FJ', 'BG', 'BY',
       'IV', 'BI', 'CI', 'CE', 'GH', 'KS', 'CX', 'SL', 'BM', 'GY', 'MV',
       'UR', 'GO', 'GV', 'CY', 'IS', 'AF', 'NN', 'BL', 'EI', 'CG', 'BW',
       'TD', 'CA', 'CQ', 'SO', 'VM', 'KU', 'MM', 'IT', 'SF', 'UG', 'AM',
       'YE', 'UY', 'BX', 'GA', 'LY', 'SK', 'BF', 'BR', 'PA', 'FG', 'CB',
       'SS', 'PS', 'CC', 'LA', 'BB', 'ZA', 'SZ', 'IY', 'AO', 'PU', 'TH',
       'SW', 'ZI', 'KV', 'SN', 'WS', 'MT', 'BA', 'MZ', 'SU', 'GJ', 'KN',
       'FR', 'MY', 'TZ', 'NG', 'SM', 'ER', 'TO', 'SA', 'SP', 'MA', 'CV',
       'MI', 'BC', 'RW', 'NS', 'GZ', 'SG', 'CT', 'NC', 'NL', 'AS', 'FM',
       'GB', 'TC', 'NE', 'VI', 'HM', 'LT', 'DM', 'UV', 'DC', 'WA', 'EO',
       'FA', 'MR', 'NP', 'MU', 'NO', 'SR', 'ML', 'BS', 'CR', 'SE', 'TA',
       'KZ', 'BO', 'PN', 'AN', 'FI', 'DJ', 'CJ', 'EK', 'BE', 'BD', 'MD',
       'MG', 'MC', 'SV', 'VC', 'TN', 'DO', 'MH', 'AC', 'NZ', 'BZ', 'NH',
       'DA', 'QA', 'TR', 'GI', 'KG', 'CN', 'MN', 'CD', 'IC', 'MP', 'RE',
       'SC', 'GC', 'FO', 'IO', 'MJ', 'TK', 'MB', 'NR', 'BT', 'GP', 'XX',
       'WI', 'WZ', 'PP', 'AB', 'KR', 'RM', 'BP', 'ND', 'XS'], dtype=object)

In [34]:
#drop 159 cases with unknown nationalities
merged_case = merged_case.loc[~(merged_case.nat=='??')]

In [35]:
#load nationality lookup table
nat_lut =  pd.read_csv(path+ '/tblLookupNationality.csv',header=None)

#drop 4 observations where the nationality code is not in the lookup table
merged_case = merged_case.loc[merged_case.nat.isin(nat_lut[1])]

#drop 2 observations with nationality code XX whic the LUT says corresponds 
#to "BE REMOVED FROM THE UNITED STATES"
merged_case = merged_case.loc[~(merged_case.nat=="XX")]
merged_case.count()

idncase               564850
idnproceeding         564850
idnProceedingAppln    564850
Appl_Code             564850
Appl_Recd_Date        564849
Appl_Dec              564850
numAppsPerProc        564850
dec                   564850
osc_date              564850
comp_date             564850
tracid                564850
nat                   564850
numProcPerCase        564850
dtype: int64

In [36]:
#examine counts for different nationalities:
nat_numbers = merged_case.groupby('nat',as_index=False).idncase.count().sort_values('idncase')

# some nationalities have only 1 or 2 observations. drop any with less than 10 observations.
nat_10 = nat_numbers.loc[nat_numbers['idncase']>9,'nat']
merged_case = merged_case[merged_case.nat.isin(nat_10)]

In [37]:
#save data
merged_case.to_csv('/home/emilyboeke/merged_any_master_app.csv',index=False)