In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('precision', 5)

In [2]:
path = '/data/Dropbox/Data/Asylum_Courts/raw'

In [3]:
master_app = pd.read_csv('merged_master_app.csv')

In [4]:
master_app.head(5)

,idnproceeding,idnProceedingAppln,idncase,Appl_Code,Appl_Recd_Date,Appl_Dec,numAppsPerProc,dec,osc_date,comp_date,tracid,nat
0,85.0,43,3328111.0,ASYL,1995-04-02 00:00:00,D,3.0,DENY,1994-11-04,1997-06-16,71.0,HO
1,103.0,49,3328153.0,ASYL,1995-05-05 00:00:00,G,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT
2,111.0,52,3328175.0,ASYL,1995-03-31 00:00:00,D,3.0,DENY,1994-11-05,1995-08-15,70.0,ES
3,136.0,56,3327844.0,ASYL,1995-03-06 00:00:00,D,3.0,DENY,1995-02-06,1995-04-06,50.0,HO
4,139.0,58,3327852.0,ASYL,1996-05-14 00:00:00,G,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU

In [5]:
master_app.count()

idnproceeding         597522
idnProceedingAppln    597522
idncase               597522
Appl_Code             597522
Appl_Recd_Date        597521
Appl_Dec              597522
numAppsPerProc        597522
dec                   597522
osc_date              597522
comp_date             597522
tracid                597522
nat                   597522
dtype: int64

In [6]:
master_app = master_app.rename(columns={"idncase_x":"idncase", "Appl_Recd_Date":"appl_recd_date", "Appl_Dec":"appl_dec"})

In [7]:
master_app = master_app.drop('idnProceedingAppln', axis=1)

In [8]:
master_app = master_app.drop(columns=['appl_dec', 'Appl_Code'], axis=1)
master_app.head(5)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat
0,85.0,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO
1,103.0,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT
2,111.0,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES
3,136.0,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO
4,139.0,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU

In [9]:
sched = pd.read_csv(path + '/schedule.csv', low_memory=False)

In [10]:
sched.head(5)

   idnschedule    idncase  idnproceeding adj_medium schedule_type   adj_date
0      1824128  2990069.0        1324191        NaN            --  05APR2000
1      1824130  2989583.0        1324273        NaN            --  07DEC1998
2      1824131  2989777.0        1324323          P            --  22FEB1999
3      1824132  2989998.0        1324391        NaN            --  05SEP1997
4      1824132  2990058.0        1324405        NaN            --  22DEC1999

In [11]:
#sched.groupby(['idncase', 'idnproceeding']).head(10)
merged_sched_master = pd.merge(master_app, sched, on=['idncase', 'idnproceeding'])
merged_sched_master.count()

idnproceeding     2490143
idncase           2490143
appl_recd_date    2490137
numAppsPerProc    2490143
dec               2490143
osc_date          2490143
comp_date         2490143
tracid            2490143
nat               2490143
idnschedule       2490143
adj_medium        1348305
schedule_type     2490143
adj_date          2490143
dtype: int64

In [12]:
# this shows ~1000 applications didn't have hearings 
test = pd.merge(master_app, sched, on=['idncase', 'idnproceeding'], how='left')
test.count()

idnproceeding     2491183
idncase           2491183
appl_recd_date    2491177
numAppsPerProc    2491183
dec               2491183
osc_date          2491183
comp_date         2491183
tracid            2491183
nat               2491183
idnschedule       2490143
adj_medium        1348305
schedule_type     2490143
adj_date          2490143
dtype: int64

In [13]:
merged_sched_master.head(10)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date
0,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1391628,NaN,--,07FEB1995
1,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1392549,NaN,--,16JUN1997
2,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393329,NaN,--,03APR1995
3,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393961,NaN,--,08MAR1996
4,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1394593,NaN,--,19AUG1996
5,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1395237,NaN,--,08NOV1996
6,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1800161,NaN,--,05APR1995
7,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1820646,NaN,--,08AUG1995
8,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1766922,NaN,--,22FEB1995
9,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1364892,NaN,--,09FEB1995

In [14]:
merged_sched_master['adj_date'] = merged_sched_master['adj_date'].astype('str')
merged_sched_master = merged_sched_master[merged_sched_master['adj_date'].apply(lambda x: len(x) == 9)] # delete dates invalid formats

merged_sched_master['adj_date'] = pd.to_datetime(merged_sched_master['adj_date'], format='%d%b%Y')

In [15]:
merged_sched_master.head(30)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date
0,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1391628,NaN,--,1995-02-07
1,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1392549,NaN,--,1997-06-16
2,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393329,NaN,--,1995-04-03
3,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393961,NaN,--,1996-03-08
4,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1394593,NaN,--,1996-08-19
5,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1395237,NaN,--,1996-11-08
6,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1800161,NaN,--,1995-04-05
7,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1820646,NaN,--,1995-08-08
8,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1766922,NaN,--,1995-02-22
9,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1364892,NaN,--,1995-02-09
10,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1380483,NaN,--,1995-08-15
11,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1417026,NaN,--,1995-03-09
12,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1431880,NaN,--,1995-04-06
13,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1618153,NaN,--,1996-05-14
14,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1584632,NaN,--,1996-04-17
15,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22
16,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638583,NaN,--,1995-11-29
17,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04
18,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25
19,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22
20,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638584,NaN,--,1995-11-29
21,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04
22,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25
23,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413187,NaN,--,1995-03-03
24,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413399,NaN,--,1995-06-09
25,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413548,NaN,--,1995-06-23
26,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413837,NaN,--,1995-03-17
27,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414111,NaN,--,1995-04-14
28,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414386,NaN,--,1995-06-01
29,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414674,NaN,--,1995-06-08

In [16]:
merged_sched_master['numHearingsPerProc'] = 1

# adding additional feature based on how many hearings have been scheduled for the same (idnCase, idnProceeding) pair
merged_sched_master['numHearingsPerProc'] = merged_sched_master.groupby(['idncase', 'idnproceeding'])['numHearingsPerProc'].transform('count')

In [17]:
merged_sched_master.head(30)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date,numHearingsPerProc
0,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1391628,NaN,--,1995-02-07,6
1,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1392549,NaN,--,1997-06-16,6
2,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393329,NaN,--,1995-04-03,6
3,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393961,NaN,--,1996-03-08,6
4,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1394593,NaN,--,1996-08-19,6
5,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1395237,NaN,--,1996-11-08,6
6,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1800161,NaN,--,1995-04-05,3
7,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1820646,NaN,--,1995-08-08,3
8,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1766922,NaN,--,1995-02-22,3
9,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1364892,NaN,--,1995-02-09,2
10,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1380483,NaN,--,1995-08-15,2
11,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1417026,NaN,--,1995-03-09,2
12,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1431880,NaN,--,1995-04-06,2
13,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1618153,NaN,--,1996-05-14,2
14,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1584632,NaN,--,1996-04-17,2
15,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4
16,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638583,NaN,--,1995-11-29,4
17,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4
18,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4
19,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4
20,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638584,NaN,--,1995-11-29,4
21,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4
22,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4
23,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413187,NaN,--,1995-03-03,8
24,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413399,NaN,--,1995-06-09,8
25,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413548,NaN,--,1995-06-23,8
26,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413837,NaN,--,1995-03-17,8
27,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414111,NaN,--,1995-04-14,8
28,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414386,NaN,--,1995-06-01,8
29,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414674,NaN,--,1995-06-08,8

In [18]:
merged_sched_master = merged_sched_master.sort_values(['idnproceeding','adj_date']).reset_index()

In [19]:
merged_sched_master = merged_sched_master.drop('index', axis=1)
merged_sched_master.head(30)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date,numHearingsPerProc
0,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1391628,NaN,--,1995-02-07,6
1,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393329,NaN,--,1995-04-03,6
2,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393961,NaN,--,1996-03-08,6
3,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1394593,NaN,--,1996-08-19,6
4,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1395237,NaN,--,1996-11-08,6
5,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1392549,NaN,--,1997-06-16,6
6,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1766922,NaN,--,1995-02-22,3
7,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1800161,NaN,--,1995-04-05,3
8,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1820646,NaN,--,1995-08-08,3
9,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1364892,NaN,--,1995-02-09,2
10,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1380483,NaN,--,1995-08-15,2
11,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1417026,NaN,--,1995-03-09,2
12,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1431880,NaN,--,1995-04-06,2
13,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1584632,NaN,--,1996-04-17,2
14,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1618153,NaN,--,1996-05-14,2
15,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4
16,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4
17,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638583,NaN,--,1995-11-29,4
18,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4
19,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4
20,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4
21,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638584,NaN,--,1995-11-29,4
22,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4
23,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413187,NaN,--,1995-03-03,8
24,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1415610,NaN,--,1995-03-03,8
25,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413837,NaN,--,1995-03-17,8
26,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414111,NaN,--,1995-04-14,8
27,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414386,NaN,--,1995-06-01,8
28,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414674,NaN,--,1995-06-08,8
29,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413399,NaN,--,1995-06-09,8

In [21]:
merged_sched_master["durationFirstLastHearing"]= merged_sched_master.groupby(['idncase', 'idnproceeding'])['adj_date'].transform(lambda x: x.iloc[-1] - x.iloc[0]).dt.days
merged_sched_master.head(30)

,idnproceeding,idncase,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date,numHearingsPerProc,durationFirstLastHearing
0,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1391628,NaN,--,1995-02-07,6,860
1,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393329,NaN,--,1995-04-03,6,860
2,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1393961,NaN,--,1996-03-08,6,860
3,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1394593,NaN,--,1996-08-19,6,860
4,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1395237,NaN,--,1996-11-08,6,860
5,85,3328111.0,1995-04-02 00:00:00,3.0,DENY,1994-11-04,1997-06-16,71.0,HO,1392549,NaN,--,1997-06-16,6,860
6,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1766922,NaN,--,1995-02-22,3,167
7,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1800161,NaN,--,1995-04-05,3,167
8,103,3328153.0,1995-05-05 00:00:00,2.0,GRANT,1994-11-05,1995-08-08,139.0,GT,1820646,NaN,--,1995-08-08,3,167
9,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1364892,NaN,--,1995-02-09,2,187
10,111,3328175.0,1995-03-31 00:00:00,3.0,DENY,1994-11-05,1995-08-15,70.0,ES,1380483,NaN,--,1995-08-15,2,187
11,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1417026,NaN,--,1995-03-09,2,28
12,136,3327844.0,1995-03-06 00:00:00,3.0,DENY,1995-02-06,1995-04-06,50.0,HO,1431880,NaN,--,1995-04-06,2,28
13,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1584632,NaN,--,1996-04-17,2,27
14,139,3327852.0,1996-05-14 00:00:00,2.0,GRANT,1995-02-06,1996-05-14,126.0,CU,1618153,NaN,--,1996-05-14,2,27
15,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4,71
16,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4,71
17,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638583,NaN,--,1995-11-29,4,71
18,145,3327869.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4,71
19,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1584633,NaN,--,1995-10-25,4,71
20,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1618153,NaN,--,1995-11-22,4,71
21,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1638584,NaN,--,1995-11-29,4,71
22,147,3327877.0,1995-11-29 00:00:00,3.0,DENY,1995-02-10,1996-01-04,71.0,NU,1650738,NaN,--,1996-01-04,4,71
23,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413187,NaN,--,1995-03-03,8,112
24,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1415610,NaN,--,1995-03-03,8,112
25,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413837,NaN,--,1995-03-17,8,112
26,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414111,NaN,--,1995-04-14,8,112
27,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414386,NaN,--,1995-06-01,8,112
28,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1414674,NaN,--,1995-06-08,8,112
29,149,3327884.0,1995-04-14 00:00:00,3.0,DENY,1995-02-12,1995-06-23,61.0,NU,1413399,NaN,--,1995-06-09,8,112

In [22]:
test3 = merged_sched_master.groupby(['idncase', 'idnproceeding'], as_index=False).last()
test3.head(30)

,idncase,idnproceeding,appl_recd_date,numAppsPerProc,dec,osc_date,comp_date,tracid,nat,idnschedule,adj_medium,schedule_type,adj_date,numHearingsPerProc,durationFirstLastHearing
0,2046931.0,3200059.0,2004-01-05 00:00:00,4.0,DENY,2003-09-09,2004-02-20,32.0,CH,1752139,P,--,2004-02-20,6,109
1,2046932.0,3371117.0,2004-12-30 00:00:00,3.0,DENY,2003-09-09,2005-05-13,148.0,CH,1816966,P,--,2005-05-13,2,134
2,2046933.0,3200063.0,2007-08-15 00:00:00,3.0,DENY,2003-09-16,2007-08-15,3.0,CH,1678220,V,II,2007-08-15,5,1065
3,2046934.0,3200066.0,2003-10-28 00:00:00,2.0,DENY,2003-09-24,2004-01-06,31.0,CM,1750728,NaN,--,2004-01-06,4,98
4,2046935.0,3200067.0,2003-11-03 00:00:00,2.0,DENY,2003-09-08,2004-01-30,32.0,CH,1752139,P,--,2004-01-30,6,130
5,2046936.0,3200068.0,2004-03-10 00:00:00,3.0,DENY,2003-09-16,2004-10-12,124.0,CH,1816332,P,--,2004-10-12,2,216
6,2046938.0,3200072.0,2003-11-10 00:00:00,3.0,DENY,2003-10-01,2003-11-20,113.0,AL,1748843,NaN,--,2003-11-20,3,36
7,2046939.0,3200073.0,2003-11-10 00:00:00,3.0,DENY,2003-10-01,2003-11-20,113.0,AL,1748843,NaN,--,2003-11-20,3,36
8,2046940.0,3609931.0,2005-07-28 00:00:00,2.0,GRANT,2003-10-01,2007-02-01,163.0,CH,1562342,P,--,2007-02-01,4,553
9,2046941.0,3200077.0,2004-01-21 00:00:00,3.0,DENY,2003-10-01,2004-03-16,27.0,CH,1752139,NaN,--,2004-03-16,6,153
10,2046942.0,3200078.0,2003-10-31 00:00:00,2.0,GRANT,2003-09-22,2003-11-21,26.0,ET,1750728,NaN,--,2003-11-21,4,49
11,2046944.0,4579436.0,2009-02-12 00:00:00,3.0,GRANT,2003-10-06,2010-03-12,147.0,CH,2061074,P,IR,2010-03-12,3,484
12,2046945.0,3200082.0,2004-02-17 00:00:00,3.0,DENY,2003-10-06,2005-02-10,124.0,CH,1830120,P,--,2005-02-10,3,337
13,2046946.0,3200085.0,2003-12-12 00:00:00,2.0,GRANT,2003-10-06,2004-01-23,29.0,CF,1751410,V,--,2004-01-23,5,99
14,2047124.0,3341325.0,2004-11-19 00:00:00,3.0,GRANT,2003-06-18,2008-01-31,141.0,LE,1882371,P,MR,2008-01-31,8,1168
15,2047173.0,3199683.0,2003-06-18 00:00:00,2.0,DENY,2003-05-01,2003-08-20,31.0,CM,1748840,NaN,--,2003-08-20,3,91
16,2047261.0,3199711.0,2005-02-09 00:00:00,2.0,DENY,2003-06-04,2005-08-09,29.0,GT,1748840,V,--,2005-08-09,3,407
17,2047281.0,3199520.0,2004-10-29 00:00:00,4.0,DENY,2003-12-16,2005-09-27,92.0,HO,1281820,P,--,2005-09-27,3,431
18,2047311.0,3199724.0,2006-03-21 00:00:00,4.0,DENY,2003-07-11,2008-09-22,28.0,GT,1753080,V,II,2008-09-22,8,1126
19,2047421.0,3199750.0,2005-07-19 00:00:00,2.0,DENY,2003-06-12,2005-07-21,31.0,GT,1744725,P,--,2005-07-21,2,367
20,2047449.0,91984.0,1987-12-08 00:00:00,4.0,GRANT,1987-01-23,1987-12-08,10.0,IN,1066988,NaN,--,1987-12-08,2,103
21,2047600.0,92019.0,2002-09-23 00:00:00,4.0,DENY,2002-09-12,2003-04-15,173.0,UE,1069155,NaN,--,2003-03-03,3,131
22,2047629.0,91388.0,1999-02-18 00:00:00,1.0,GRANT,1999-01-13,1999-07-29,195.0,CU,1516738,T,--,1999-07-29,9,156
23,2047719.0,92038.0,2002-03-21 00:00:00,3.0,DENY,2001-12-10,2002-04-02,55.0,LV,1088460,P,--,2002-04-02,6,109
24,2047726.0,3199379.0,2004-08-24 00:00:00,4.0,DENY,2003-11-27,2006-11-06,206.0,ES,1513114,P,--,2006-11-06,5,909
25,2047923.0,92356.0,2004-05-13 00:00:00,3.0,DENY,2003-11-06,2004-05-13,48.0,CU,9028678,NaN,--,2004-05-13,5,182
26,2047950.0,3199639.0,2004-02-19 00:00:00,3.0,GRANT,2003-05-02,2004-10-18,150.0,UZ,1849080,P,--,2004-10-18,7,431
27,2047957.0,3199641.0,2006-03-24 00:00:00,3.0,GRANT,2003-05-02,2006-05-25,220.0,UE,8071848,P,MR,2005-06-30,7,702
28,2047964.0,3199643.0,2003-10-29 00:00:00,3.0,DENY,2003-05-15,2004-12-02,31.0,LH,1748839,P,--,2004-12-02,3,484
29,2048013.0,93120.0,1999-10-13 00:00:00,3.0,DENY,1999-06-07,1999-12-28,44.0,MX,1160250,NaN,--,1999-12-28,9,200

In [39]:
grantR_hearings = pd.crosstab(index=test3['dec'], 
                           columns=test3['durationFirstLastHearing'], margins=True)

#grantR_hearings.index= ["died","survived"]

grantR_hearings

durationFirstLastHearing,0,1,2,3,4,5,6,7,8,9,...,7762,7771,8165,8266,8436,8445,8764,8795,13345,All
dec,,,,,,,,,,,,,,,,,,,,,
DENY,25718,115,54,60,65,66,117,232,112,101,...,1,1,1,1,1,1,1,1,1,381850
GRANT,2729,55,51,37,29,53,78,110,90,78,...,0,0,0,0,0,0,0,0,0,214632
All,28447,170,105,97,94,119,195,342,202,179,...,1,1,1,1,1,1,1,1,1,596482

In [41]:
grantR_hearings.index = ['DENY', 'GRANT', 'Col Total']
test4 = grantR_hearings / grantR_hearings.loc['Col Total']

In [63]:
#test4 = test4.drop('All', axis=1)

#test4.plot(kind="bar", 
                 #figsize=(8,8),
                 #3stacked=True)
test4.values
#plt.plot(test4.loc['durationFirstLastHearing'],test4.loc['GRANT'])
#plt.show()

array([[0.90406721, 0.67647059, 0.51428571, ..., 1.        , 1.        ,
        1.        ],
       [0.09593279, 0.32352941, 0.48571429, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 1.        ,
        1.        ]])

In [27]:
test3.describe()

,idncase,idnproceeding,numAppsPerProc,tracid,idnschedule,numHearingsPerProc,durationFirstLastHearing
count,5.96482e+05,5.96482e+05,596482.00000,596482.00000,5.96482e+05,596482.00000,596482.00000
mean,4.20652e+06,2.66674e+06,2.76374,146.25797,2.19031e+06,4.17472,418.86321
std,1.23934e+06,1.47114e+06,0.78398,85.06548,1.80506e+06,2.83050,435.33063
min,2.04693e+06,8.50000e+01,1.00000,1.00000,4.47000e+02,1.00000,0.00000
25%,3.26054e+06,1.56580e+06,2.00000,91.00000,1.51249e+06,2.00000,133.00000
50%,4.05456e+06,2.59801e+06,3.00000,144.00000,1.80303e+06,3.00000,292.00000
75%,5.16440e+06,3.76703e+06,3.00000,199.00000,2.02170e+06,5.00000,553.00000
max,7.20315e+06,6.17962e+06,14.00000,403.00000,9.99996e+06,135.00000,13345.00000

In [20]:
#test2 = merged_sched_master.groupby(['idncase', 'idnproceeding'])['adj_date'].apply(lambda x: x.iloc[-1] - x.iloc[0])

#duration = merged_sched_master.groupby(['idncase', 'idnproceeding'],  as_index=False)['adj_date'].apply(lambda x: x.iloc[-1] - x.iloc[0]).dt.days
#merged_sched_master["durationFirstLastHearing"] = duration.reset_index(level=0, drop=True)
merged_sched_master.head(30)

KeyboardInterrupt:

In [ ]:
#merged_sched_master['durationFirstLastHearing'].astype('timedelta64[D]')
#merged_sched_master.head(30)

In [ ]:
test.head(20)

In [ ]:
sched_tbl = pd.read_csv(path + '/tbl_schedule.csv', low_memory=False)

In [ ]:
sched_tbl.head(5)