In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('precision', 5)

In [6]:
path = '/data/Dropbox/Data/Asylum_Courts/tbl_schedule'

In [15]:
cols = ["IDNSCHEDULE","IDNPROCEEDING","IDNCASE","OSC_DATE","GENERATION","SUB_GENERATION","REC_TYPE","ALIEN_ATTY_CODE","LANG","HEARING_LOC_CODE","BASE_CITY_CODE","IJ_CODE","INTERPRETER_CODE","INPUT_DATE","INPUT_TIME","UPDATE_DATE","UPDATE_TIME","ASSIGNMENT_PATH","CONTINUE_FLAG","CAL_TYPE","ADJ_DATE","ADJ_TIME_START","ADJ_TIME_STOP","ADJ_RSN","ADJ_MEDIUM","ADJ_MSG","ADJ_ELAP_DAYS","ID_1","LNGSESSNID","SCHEDULE_TYPE","NOTICE_CODE","DATBATCHMODIFIED","STRCREATEDBY","STRMODIFIEDBY","BLNCLOCKOVERRIDE","EOIRAttorneyID"]
cols = [x.lower() for x in header]

In [17]:
sched_tbl = pd.read_csv(path + '/tbl_schedule_01.csv', header=None, names=cols, encoding='ISO-8859-1', low_memory=False)

In [18]:
sched_tbl.count()

idnschedule         7710560
idnproceeding       7710542
idncase             7710560
osc_date            7707682
generation          7709369
sub_generation       592617
rec_type            7710530
alien_atty_code     4259127
lang                7288862
hearing_loc_code    7710558
base_city_code      7710558
ij_code             7709156
interpreter_code      10772
input_date          7710558
input_time          7710203
update_date         7710556
update_time         7710536
assignment_path      387076
continue_flag             0
cal_type            7706235
adj_date            7710560
adj_time_start      7710558
adj_time_stop       6728583
adj_rsn             6672863
adj_medium          7508811
adj_msg             1923835
adj_elap_days       2719424
id_1                1594869
lngsessnid          5686379
schedule_type       7710559
notice_code         5453180
datbatchmodified     292701
strcreatedby        7710205
strmodifiedby       7697821
blnclockoverride    7710560
eoirattorneyid      4157165
dtype: int64

In [19]:
sched_tbl.head(10)

,idnschedule,idnproceeding,idncase,osc_date,generation,sub_generation,rec_type,alien_atty_code,lang,hearing_loc_code,...,adj_elap_days,id_1,lngsessnid,schedule_type,notice_code,datbatchmodified,strcreatedby,strmodifiedby,blnclockoverride,eoirattorneyid
0,17035561,961394.0,2706979,1995-06-30 00:00:00,99.0,NaN,X,GLI,CV,BOS,...,0000,RVG,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{64B26B92-3683-E211-AC6D-F4CE46838609}
1,17035562,961398.0,2706991,1991-01-18 00:00:00,99.0,NaN,X,,ENG,BOS,...,0000,TP,NaN,--,NaN,NaN,ADMIN,ADMIN,False,NaN
2,17035563,961402.0,2707014,1995-05-17 00:00:00,96.0,NaN,X,GAL,ENG,BOS,...,0000,GET,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{50B26B92-3683-E211-AC6D-F4CE46838609}
3,17035564,961405.0,2707014,1995-05-17 00:00:00,99.0,NaN,X,GAL,UNK,BOS,...,0000,GET,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{50B26B92-3683-E211-AC6D-F4CE46838609}
4,17035565,961406.0,2707020,1996-03-12 00:00:00,97.0,NaN,X,SAN,ENG,BOS,...,0000,GET,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{5E250E92-3683-E211-AC6D-F4CE46838609}
5,17035566,961407.0,2707020,1996-03-12 00:00:00,98.0,NaN,X,SAN,ENG,BOS,...,0000,DP,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{5E250E92-3683-E211-AC6D-F4CE46838609}
6,17035567,961409.0,2707025,1995-07-25 00:00:00,99.0,NaN,X,GAL,ENG,BOS,...,0000,RVG,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{50B26B92-3683-E211-AC6D-F4CE46838609}
7,17035568,961410.0,2707031,1990-08-23 00:00:00,99.0,NaN,X,GAL,POR,BOS,...,0000,SVM,NaN,--,NaN,NaN,ADMIN,ADMIN,False,{50B26B92-3683-E211-AC6D-F4CE46838609}
8,17035569,961412.0,2707037,1994-12-20 00:00:00,99.0,NaN,X,,UNK,BOS,...,0000,DP,NaN,--,NaN,NaN,ADMIN,ADMIN,False,NaN
9,17035570,961413.0,2707042,1994-10-03 00:00:00,99.0,NaN,X,,ENG,BOS,...,0000,RVG,NaN,--,NaN,NaN,ADMIN,ADMIN,False,NaN

In [69]:
sched_tbl2 = sched_tbl[['idnschedule','idnproceeding','idncase','osc_date','ij_code','cal_type','adj_date','adj_time_start','adj_time_stop','adj_rsn','notice_code','eoirattorneyid']]

In [70]:
sched_tbl2 = sched_tbl2.dropna(subset=['idnschedule', 'idnproceeding', 'idncase', 'adj_date'])
sched_tbl2.count()

idnschedule       7710542
idnproceeding     7710542
idncase           7710542
osc_date          7707664
ij_code           7709138
cal_type          7706217
adj_date          7710542
adj_time_start    7710540
adj_time_stop     6728571
adj_rsn           6672852
notice_code       5453180
eoirattorneyid    4157165
dtype: int64

In [71]:
sched_tbl2['adj_date'] = sched_tbl2['adj_date'].astype('str')
# delete dates invalid formats
#sched_tbl2 = sched_tbl2[sched_tbl2['adj_date'].apply(lambda x: len(x) == 9)] 
sched_tbl2['adj_date'] = pd.to_datetime(sched_tbl2['adj_date'])

In [72]:
sched_tbl2['adj_time_start'] = sched_tbl2['adj_time_start'].astype('int64', errors='ignore')
#sched_tbl2['adj_time_stop'] = sched_tbl2['adj_time_stop'].astype('int64')

In [80]:
sched_tbl2['adj_time_stop'] = sched_tbl2['adj_time_stop'].astype('str').str.zfill(4)

In [101]:
sched_tbl2['adj_time_stop'] = pd.to_datetime(sched_tbl2[sched_tbl2.adj_time_stop != '0nan']['adj_time_stop'], format='%H%M').dt.time

ValueError: unconverted data remains: 00

In [86]:
sched_tbl2[sched_tbl2.adj_time_stop != '0nan']['adj_time_stop']

0          1430
1          0900
2          1630
3          1030
4          1600
5          0930
6          1430
7          1600
8          1030
9          1630
10         1600
11         1630
12         1630
13         1200
14         1200
15         1330
16         1200
17         1430
18         1500
19         1630
20         1330
21         1530
22         0930
23         1200
24         0900
25         1630
26         1630
27         1200
28         1200
29         0900
           ...
7710530    0830
7710531    0930
7710532    0830
7710533    1100
7710534    0830
7710535    0830
7710536    1200
7710537    0830
7710538    1030
7710539    0830
7710540    1700
7710541    0830
7710542    0900
7710543    1030
7710544    0830
7710545    0830
7710546    1100
7710547    1400
7710548    0900
7710549    1700
7710550    0930
7710551    0830
7710552    0830
7710553    0930
7710554    1330
7710555    1400
7710556    0900
7710557    0930
7710558    1330
7710559    1400
Name: adj_time_stop, Length: 6728571, dtype: object

In [99]:
test2 = pd.to_datetime('0000', format='%H%M')

In [100]:
test2

Timestamp('1900-01-01 00:00:00')